/* #region all properties */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    min-width: 320px;
    margin-inline: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-list {
    list-style-type: none;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-sprite {
    fill: 0;
}

/* #endregion all properties */

/* #region header */

/* .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.page-header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-page-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.nav-page-link .page-link-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-page-link .page-link-span:hover, 
.nav-page-link .page-link-span:focus {
    color:#404BBF;
}

.nav-page-link .page-link-span:active {
    color:#404BBF;
}

.nav-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav-list-container li {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;

    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover, 
.nav-list-item:focus {
    color: #404bbf;
}

.nav-list-item.active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address-container {
    font-style: normal;
}

.address-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.address-container-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-container-item:hover, 
.address-container-item:focus {
    color:#404BBF;
} */

/* #endregion header */

/* #region section 1 */

.section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/background-mobile1x.jpg);
    margin: 0 auto;
    padding: 72px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/background/background-mobile2x.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/background/background-tablet1x.jpg);
        padding: 112px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background/background-tablet2x.jpg);
        padding: 112px 0;
    }
}
    
@media screen and (min-width: 1158px) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background/background-desktop1x.jpg);
        padding: 188px 0;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background/background-desktop2x.jpg);
        padding: 188px 0;
    }
}

.section-one .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .section-one .container {
        gap: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .section-one .container {
        gap: 48px;
    }
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
}

@media screen and (min-width: 768px) {
    .main-title {
        font-size: 56px;
        max-width: 496px;
    }
}

.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* #endregion section 1 */

/* #region section 2 */

/* .section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.section-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.list-item {
    width: calc((100% - 72px) / 4);
}

.section-list-container .list-title {
    margin-bottom: 8px;
}

.sprite-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
} */

/* #endregion section 2 */

/* #region section 3 */

/* .section-three {
    background-color: #F4F4FD;
}

.section-three .container .section-title {
    margin-bottom: 72px;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.section-three .container .section-list-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.section-three .container .list-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
}

.list-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.list-text-container .list-title {
    text-align: center;
    margin-bottom: 8px;
}

.list-text-container .section-text {
    text-align: center;
}

.section-three .list-item-container {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-socials-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}

.list-socials-item {
    width: 40px;
    height: 40px;
}

.list-socials-item-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-socials-item-icon:hover,
.list-socials-item-icon:focus {
    background-color: #404bbf;
}

.social-icon-sprite {
    fill: #f4f4fd;
} */

/* #endregion section 3 */

/* #region section 4 */

/* .section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.section-four .section-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
}

.section-four .list-item-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four .list-item-container:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.list-info-img {
    position: relative;
    overflow: hidden;
}

.list-hidden-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four .list-item-container:hover .list-hidden-text {
    transform: translateX(0);
}

.section-four .section-text-container {
    border-top: none;
}

.section-four .section-title {
    margin-bottom: 72px;
}

.list-info-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.list-info-container .list-title {
    margin-bottom: 8px;
} */

/* #endregion section 4 */

/* #region footer */

/* .page-footer {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    background-color:#2e2f42;
}

.page-footer-container {
    display: flex;
    align-items: baseline;
}

.page-footer-container .footer-logo-container {
    margin-right: 120px;
}

.footer-socials-container {
    margin-right: 80px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-link .footer-link-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-link .footer-link-span:hover,
.footer-link .footer-link-span:focus {
    color: #404BBF;
}

.footer-link .footer-link-span:active {
    color: #404BBF;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-socials-container .list-socials-container {
    gap: 16px;
}

.footer-socials-container .list-socials-item-icon:hover,
.footer-socials-container .list-socials-item-icon:focus {
    background-color: #31d0aa;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2e2f42;
    background-color: transparent;
    color: #FFFFFF;
    padding: 8px 0 8px 16px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form-label input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    display: flex;
    align-items: center;
}

.subscribe-form-button {
    background: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 8px 16px 8px 24px;
    align-items: center;
    display: flex;
    justify-content: center;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.form-button-icon {
    margin-left: 16px;
} */

/* #endregion footer */

/* #region form */

/* .backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hide-popup {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.popup-review {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    overflow: auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.popup-exit-button {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    display: block;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-exit-button:hover, 
.popup-exit-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.popup-exit-icon {
    display: block;
    height: 8px;
    width: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.popup-form-input {
    margin-bottom: 8px;
}

.popup-input {
    margin-bottom: 8px;
    position: relative;
}

.label-name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, 
.form-input:focus {
    border-color: #4D5AE5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover+.form-icon,
.form-input:focus+.form-icon {
    fill: #4D5AE5;
}

.popup-form-comment {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
    border-color: #4D5AE5;
}

textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
}

.user-privacy-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.user-privacy-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: #4d5ae5;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.checkbox-input:checked+.user-privacy-label>.user-privacy-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4d5ae5;
}

.submit-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-inline: auto;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    display: block;
} */

/* #endregion form */